{% extends 'base.html.twig' %}

{% block title %}P'titJardinier | Haie{% endblock %}

{% block body %}
<div class="content_ctn">
    <div class="optn_line_ctn">
                <a class="optn_btn_link" href="{{ path('haie_new') }}">
                    Ajouter une haie
                    <img src="{{ asset('img/add-hedge.png')}}">
                </a>
                <a class="optn_btn_link" href="{{ path('cate_add') }}">
                    Ajouter une catégorie
                    <img src="{{ asset('img/add-cat.png')}}">
                </a>
    </div>

    <table id="customclient_table">
        <thead>
            <tr>
                <th>Code haie</th>
                <th>Nom</th>
                <th>Prix</th>
                 <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for haie in haies %}
            <tr class="table_client_line">
                <td>{{ haie.code }}</td>
                <td>{{ haie.nom }}</td>
                <td>{{ haie.prix }}</td>
                <td>{{haie.categorie.libelle}}</td> 
                <td>
                 <a class="link_icon" href="{{ path('haie_show', {'id': haie.id}) }}">
                    <img src="{{ asset('img/eye.png')}}">
                </a>
                <a class="link_icon" href="{{ path('haie_edit', {'id': haie.id}) }}">
                    <img src="{{ asset('img/editing.png')}}">
                </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune haie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
